
/* Здравствуйте. Над проектом работал в системе Linux. 
Были большие сложности с программой Photoshop 
(работает некорректно и в некоторых случаях выдает ошибку). 
Такая же проблема была с тестированием в Internet Explorer, 
что обьясняет мои ошибки. Надеюсь на ваше понимание при проверке проекта.
*/

*,*::before,*::after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*{
    text-transform: uppercase;
}
@-webkit-keyframes form_animation{
    0%  {-webkit-transform:translateY(-500px);
        -ms-transform: translateY(-500px);
        transform: translateY(-500px);
    }
    100%{-webkit-transform: translateY(40px); 
        -ms-transform: translateY(40px);
        transform: translateY(40px);
    }
}
@keyframes form_animation{
    0%  {-webkit-transform:translateY(-500px);
        -ms-transform: translateY(-500px);
        transform: translateY(-500px);
    }
    100%{-webkit-transform: translateY(40px); 
        -ms-transform: translateY(40px);
        transform: translateY(40px);
    }
}
@-webkit-keyframes form_animation_error{
    0%{-webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    25%{-webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50%{-webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    75%{-webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100%{-webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes form_animation_error{
    0%{-webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    25%{-webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50%{-webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    75%{-webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100%{-webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    background-color: rgb(242, 242, 242);
}
img {
    max-width: 100%;
    height: auto;
}
.visually_hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
.main_navigation {
    font-size: 14px;
    line-height: 26px;
    color: rgb(0, 0, 0);
    font-weight: bold; 
    background-color: rgb(255, 255, 255);
}
.site_navigation {
    list-style: none;
}
.site_navigation a {
    color: rgb(51, 51, 51);
    font-weight: 900;
    letter-spacing: -0.1em;
}
.site_navigation a:hover {
    color: rgb(129, 179, 210);
}
.site_navigation a:active {
    color: rgba(0, 0, 0, 0.302);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.site_navigation {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.site_navigation li {
    width: 20%;
}
.site_navigation li:nth-child(1),
.site_navigation li:nth-child(2) {
    text-align: left;
    padding-left: 73px;
}
.site_navigation li:nth-child(2) {
    margin-right: auto;
}
.site_navigation li:nth-child(3),
.site_navigation li:nth-child(4) {
    text-align: right;
    padding-right: 73px;
}
.main_header {
    position: relative;
}
.main_header_logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -69px;
}
.info {
    min-height: 510px;
    background-color: rgb(105,135,165);
    background-image: url("../img/info_mask.png"), url("../img/info_bg.jpg");
    background-position: left bottom, 50% 22%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 77px;
}
.advertising {
    text-align: center;
    height: 215px;
    background-color: rgb(255, 255, 255);
}
.advertising h2{
    font-size: 21px;
    font-weight: bold;
    margin: 0 auto;
    color: rgb(0,0,0);
    padding: 55px 310px 27px 310px;
}
.advertising p {
    margin: 0 auto;
    padding-bottom: 150px;
}
.bg_blue {
    background-color: rgb(129,179,210);
    text-align: center;
    min-height: 256px;
    width: 33%;
    line-height: 21px;
    color: rgb(255,255,255);
}
.reasons_numbering {
    margin: 5px;
}
.bg_blue h3{
    margin: 0 auto;
    padding: 45px 120px 20px 120px;
    font-size: 21px;
}
.bg_blue p {
    padding: 15px 30px 20px 30px;
    letter-spacing: 0.001em;
}
.item img{
    border: 0px;
    width: 67%;
    height: auto;
    -webkit-transform:  scaleY(1.65);
    -ms-transform:  scaleY(1.65);
    transform:  scaleY(1.65);
}
.item {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    height: 255px;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}
.reason_detailed {
    background-color: rgb(255, 255, 255);
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 330px;
}
.reason_item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 10px;
}
.reason_item {
    text-align: center;
    width: 33%;
    letter-spacing: 0.004em;
}
.reason_item_1 {
    padding: 59px 74px 15px 74px;
    min-height: 330px;
}
.reason_item_2 {
    padding: 59px 76px 15px 74px;
    min-height: 330px;
}
.reason_item_2 h3 {
    padding-top: 23px;
    padding-left: 6px;
}
.reason_item_3 {
    padding: 55px 74px 15px 74px;
    min-height: 330px;
}
.reason_item_3 h3 {
    padding-top: 22px;
    padding-left: 14px;
}
.reason_item_1 p,
.reason_item_2 p,
.reason_item_3 p {
    margin-left: -15px;
    width: 300px;
}
.reason_item_1 p{
    padding: 0 0 10px 5px;
}
.reason_item_4 h3,
.reason_item_5 h3,
.reason_item_6 h3 {
    padding: 48px 120px 0 120px;
    margin-bottom: 25px;
}
.reason_item_4 p,
.reason_item_5 p,
.reason_item_6 p  {
    padding: 0 80px 20px 80px;
}
.bg_gray {
    background-color: rgb(238, 238, 238);
}
.search {
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 295px;
    position: relative;
}
.search h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding-top: 55px;
    padding-bottom: 20px;
}
.search_manual {
    margin: 0;
    padding-bottom: 70px;
}
.search a {
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(118, 99, 87);
    padding: 30px 0 30px;
    display: block;
    width: 575px;
    height: 85px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -290px;
}
.search a:hover {
    background-color: rgb(96, 78, 67);
}
.search a:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: rgb(80, 62, 51);
}
/*форма*/ 
.form {
    height: 395px;
    width: 575px;
    padding: 55px 55px 55px 55px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -290px;
}
.form_hiden{
    display: none;
}
.animation{
    -webkit-animation-name: form_animation;
    animation-name: form_animation;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; 
}
.animation_close{
    -webkit-animation-name:  form_animation;
    animation-name: form_animation;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; 
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.animation_error{
    -webkit-animation-name: form_animation_error;
    animation-name: form_animation_error;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.search_data label {
    color: rgb(0, 0, 0);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 110px;
}
.search_data input[type="text"] {
    color: rgb(0, 0, 0);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    background-color: rgb(242, 242, 242);
    width: 345px;
    padding: 4px 50px 4px 10px;
    border: 2px solid rgb(242, 242, 242);
}
.search_data input[type="text"]:hover{
    background-color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
}
.search_data input[type="text"]:focus{
    background-color: transparent;
    outline: none;
}
.calendar {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}
.calendar:hover path {
    fill: rgb(0,0,0);
}
.calendar:active path {
    fill: rgb(129,179,210);
}
.search_data {
    position: relative;
    margin: 0;
    padding-bottom: 30px;
    min-width: 459px;
    padding-left: 5px;
}
.search_people_number {
    margin: 0;
    margin-bottom: 54px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
}
.search_people_number_wrapper_1,
.search_people_number_wrapper_2 {
    width: 50%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.search_people_number_wrapper_1 label,
.search_people_number_wrapper_2 label{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-right: auto;
}
.search_people_number_wrapper_2 label{
    margin-left: 54px;
}
.search_people_number_wrapper_1 input[type="text"],
.search_people_number_wrapper_2 input[type="text"] {
    color: rgb(0, 0, 0);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 38px;
    height: 38px;

    -webkit-text-align: center;
    -moz-text-align: center;
    -ms-text-align: center;
    text-align: center;
    padding: 14px 15px 14px 15px;
    background-color: rgb(242, 242, 242);
}
.button_quantity1,
.button_quantity2 {
    height: 38px;
    width: 38px;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    background-color: rgb(242, 242, 242);
    
}
span.plus{
    font-size: 21px;
    color: black;
    line-height: 1px;

}
span.minus{
    font-size: 26px;
    color: black;
    line-height: 1px;
}
.button_quantity1::before,
.button_quantity2::before {
    content: "";
    position: absolute;
    font-size: 21px;
    width: 11px;
    height: 3px;
    top: 50%;
    left: 50%;
    
    background: rgb(0, 0, 0);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(169, 169, 169);
}
.button_quantity2::after {
    content: "";
    position: absolute;
    font-size: 21px;
    width: 11px;
    height: 3px;
    top: 50%;
    left: 50%;
    
    background: rgb(0, 0, 0);
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: rgb(169, 169, 169);
}
.button_quantity1:hover::before,
.button_quantity2:hover::before,
.button_quantity2:hover::after {
    background-color: rgb(0, 0, 0);
}
.button_quantity1:active::before,
.button_quantity2:active::before,
.button_quantity2:active::after {
    background-color: rgb(129, 179, 210);
}
.button {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    vertical-align: middle;
    line-height: 26px;
    padding: 15px 198px 15px 198px;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    background-color: rgb(129, 179, 210);
    border: none;
    display: block; 
    margin: 0 auto;
}
.button:hover{
    background-color: rgb(102, 158, 192);
}
.button:active{
    color: rgba(255, 255, 255, 0.302);
    background-color: rgb(84, 150, 189);
}
footer {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 4px 102px 0px 130px;
    min-height: 120px;
    background-color: rgb(255, 255, 255);
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    display: -moz-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.hashtag {
    width: 150px;
    margin: 0;
    margin-right: 237px;
}
.hashtag a {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
}
.footer_social {
    text-align: center;
    width: 165px;
}
.footer_social ul {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.social_button {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: rgb(129, 179, 210);
}
.social_button:hover {
    background-color: rgb(102, 158, 192);
}
.social_button:active {
    background-color: rgb(84, 150, 189);
}
.social_button:active path {
    fill: rgb(136, 182, 209);
}
.footer_copyright {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
}
.footer_copyright b {
    font-weight: normal;
}
.footer_copyright a {
    width: 115px;
    margin-left: 5px;
    padding-top: 0;
}
.footer_copyright a:hover path {
    fill: rgb(129, 179, 210);
}
.footer_copyright a:active path {
    fill: rgb(189, 187, 188);
}
.site_navigation_active a {
    color: rgb(118, 99, 87);
}
.site_navigation_active a:hover,
.site_navigation_active a:focus,
.site_navigation_active a:active {
    color: rgb(118, 99, 87);
}
.filters {
    color: rgb(255, 255, 255);
    background-color: rgb(105, 135, 165);
    background-image: url("../img/filters_bg.jpg");
    min-height: 217px;
    background-position: 0% 10%;
    background-repeat: no-repeat;
}
.filters div {
    width: 145px;
}
.filter {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    padding: 26px 73px 0px 10px;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.filter div {
    border: none;
}
.filter div {
    font-size: 16px;
    line-height: 1.313;
    font-weight: bold;
}
.filter ul {
    list-style: none;
    line-height: 21px;
}
.infrastructure li:nth-child(1),
.infrastructure li:nth-child(2) {
    padding-bottom: 25px;
}
.housing li:nth-child(1),
.housing li:nth-child(2) {
    padding-bottom: 25px;
}
.filter_checkbox {
    display: none;
}
.filter_option label.filter_item {
    padding-left: 50px;
    position: relative;
}
.filter_option label.filter_item::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 10px;
    width: 27px;
    height: 27px;
    // background-image: url("../img/checkbox-off.svg");
    // background-repeat: no-repeat;
    // background-position: 0 0;
}
// .infrastructure input[type=checkbox]:checked + label::before,
// .housing input[type=checkbox]:checked + label::before {
//     background-image: url("../img/checkbox-on.svg");
// }
.infrastructure div,
.housing div {
    padding-left: 50px;
    padding-bottom: 10px;
}
.infrastructure {
    padding-right: 55px;
}
// .infrastructure input[type=checkbox]:disabled + label::before,
// .housing input[type=checkbox]:disabled + label::before {
//     background-image: url("../img/checkbox-off-gray.svg");
// }
// .infrastructure input[type=checkbox]:checked:disabled + label::before,
// .housing input[type=checkbox]:checked:disabled + label::before {
//     background-image: url("../img/checkbox-on-gray.svg");
// }
/* стоимость в сутки */
.range_filter {
    width: 318px;
    margin-left: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
}
.range_filter_title {
    margin-bottom: 9px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
}
.price_controls {
    position: relative;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid rgb(255, 255, 255);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 315px;
    height: 35px;


    display:flex;
    align-items: center;
    justify-content: space-between;

}
.price_controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.price_controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    cursor: pointer;
}
.price_controls .min_price,
.price_controls .max_price {    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 82px;    
    padding-top: 5px;
    padding-left: 63px;    
    padding-right: 0px;
}
.price_controls input { 
    width: 50px;    margin: 0;  
    color: inherit;    font: inherit;  
    background: none;    
    border: none;
    display: inline-block;
    vertical-align: middle;
}
.range_controls {   
    position: relative; 
    margin-bottom: 32px;
}
.range_controls .scale {  
    height: 2px;    background: rgba(255, 255, 255, 0.3);
}
.range_controls .bar {   
    width: 80%;  
    height: 2px; 
    background: #ffffff;
}
.range_toggle {  
    position: absolute; 
    top: -9px;  
    width: 4px; 
    height: 4px;  
    background: #ababab; 
    border: 8px solid #ffffff; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;  
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);  
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);   cursor: pointer;
}
.range_toggle_min {  
    left: 0;
}
.range_toggle_max { 
    left: 80%;
}
.range_toggle:hover {  
    background: #1c4f80;
}
.filter_button {  
    display: block;   
    margin: 0 auto;  
    padding: 6px 30px;   
    font-size: 14px; 
    line-height: 20px; 
    color: rgb(255, 255, 255); 
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    background: transparent;   
    border: 2px solid rgb(255, 255, 255); 
    -webkit-border-radius: 2px; 
    border-radius: 2px;   
    cursor: pointer;
}
.filter_button:hover {  
    color: rgb(0, 0, 0); 
    background: rgb(255, 255, 255);
}
.result {   
    background-color: rgb(255, 255, 255);  
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;   
    padding: 30px 73px 28px 73px; 
    position: relative;   
    border-bottom: 1px solid #e5e5e5;
}
.result .ico_wrapper{ 
    position: absolute;    
    right: 50px;
}
.sorting {    
    list-style: none;   
    font-size: 12px;   
    line-height: 1.5;   
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 275px;    padding-top: 6px;  
    padding-bottom: 5px; 
    margin: 0;    
    padding-left: 38px;
}
.result h2 {   
    font-size: 21px;   
    color: rgb(0, 0, 0);  
    font-weight: bold;    
    margin: 0;
}
.result h3 {
    font-size: 12px;  
    color: rgb(0, 0, 0); 
    line-height: 1.5;  
    margin: 0;   
    padding: 6px 0px 5px 48px;
}
.icon_wrapper {  
    margin-left: auto;
}
.icon_wrapper_up { 
    padding-right: 8px;
}
.icon_wrapper_up path {   
    fill: rgb(202, 202, 202);
}
.icon_wrapper_down path {  
    fill: rgb(129, 179, 210);
}
.icon_wrapper_up :hover path,
.icon_wrapper_down :hover path { 
    fill: rgb(0, 0, 0);
}
.icon_wrapper_up:active path,
.icon_wrapper_down:active path {  
    fill: rgb(129, 179, 210);
}
.hotel_directory {   
    background-color: rgb(255, 255, 255);
}
.hotel {  
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;   
    min-height: 150px;   
    padding-left: 73px;  
    padding-right: 73px;  
    padding-top: 28px; 
    padding-bottom: 22px;  
    border-bottom: 1px solid #e5e5e5;
}
.hotel_photo {    
    -webkit-box-ordinal-group: 0;    
    -ms-flex-order: -1;    
    -webkit-order: -1;    
    order: -1;
}
.booking_hotel_wrapper {   
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
}
.hotel_wrapper {  
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;  
    -webkit-box-align: start;  
    -ms-flex-align: start;  
    -webkit-align-items: flex-start;  
    align-items: flex-start; 
    padding: 0px 6px 0px 30px;   
    margin: 0;
}
.booking_wrapper {  
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;  
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;  
    margin: 0;
}
.hotel_name {   
    margin: 0; 
    padding-left: 30px;   
    margin-top: -4px;  
    margin-bottom: 5px;
}
.sorting_price {  
    color: rgb(129, 179, 210);
}
.sorting_type_rating {  
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.302); 
    border-bottom: 0.8px dotted rgb(129, 179, 210);
}
.sorting_type_rating:hover { 
    text-decoration: none;  
    color: rgb(129, 179, 210);  
    border-bottom: 0.8px dotted rgb(129, 179, 210);
}
.sorting_type_rating:active {  
    color: rgb(0, 0, 0);  
    border-bottom: none;
}
.button_detailed_hotel {   
    color: rgb(255, 255, 255);  
    font-weight: bold;
    font-style: 14px;  
    line-height: 21px;   
    vertical-align: middle;   
    background-color: rgb(129, 179, 210); 
    border: none;
    padding: 3px 17px;
}
.button_detailed_hotel:hover{ 
    background-color: rgb(102, 158, 192);
}
.button_detailed_hotel:active{   
    color: rgba(255, 255, 255, 0.302);  
    background-color: rgb(84, 150, 189);
}
.button_booking_hotel {   
    color: rgb(255, 255, 255);  
    font-weight: bold;
    font-style: 14px;   
    line-height: 21px;
    vertical-align: middle; 
    background-color: rgb(118, 99, 87); 
    border: none;   
    padding: 3px 17px;
}
.button_booking_hotel:hover { 
    background-color: rgb(96, 78, 67);
}
.button_booking_hotel:active { 
    color: rgba(255, 255, 255, 0.302);
    background-color: rgb(80, 62, 51);
}
.housing_type,.housing_cost {  
    line-height: 1.5;
}
.hotel_name a {  
    font-size: 21px;  
    color: rgb(0, 0, 0);   
    font-weight: bold;
}
.hotel_name a:hover {   
    color: rgb(129, 179, 210);
}
.hotel_name a:active {    
    color: rgba(0, 0, 0, 0.302);
}
.rating_points {   
    background-color: rgb(242, 242, 242); 
    padding: 2px 13px;
}
.rating {   
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;  
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-left: auto;
}
.star {  
    padding-bottom: 35px;
}
.housing_cost,.housing_type { 
    padding-bottom: 15px;
}
.map {    
    background-color: rgb(203, 221, 169); 
    background-image: url("../img/map.jpg"); 
    width: 100%;    
    height: 470px;   
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;position: relative;
}